@media (max-width: 640px) {
    .hidden {
      display: none;
    }
  }
  .demo {
    background-color: black;
    color:white
  }
  .container {
    background-image: url('https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
    background-repeat: no-repeat;
  
  }
  